@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

html, body{
	width: 100%;
	color: #222;
	font-family: 'Poppins', sans-serif;
	overflow-x:hidden;
}	
.navbar{
	padding: .8rem;
}

.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em; !important
}
.carousel-inner img{
	width: 100%;
	height: 92vh;
	opacity: 0.8;
}
.carousel-caption{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}
.row{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	padding: 10vh 20vw;
	max-height: 50%;
}
.contact-text{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}
#education{
	color: white;
}
.row img{
	max-width: 15rem;
	max-height: 15rem;
}
.logo{
	font-family: 'Caveat', cursive;
	font-size: 7rem;
	font-weight: bold;
	text-shadow: 1px 1px 5px #000;
}
.carousel-caption h3{
	font-size: 150%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding: 1.5rem;
}

.cover-heading{
	color: #fff;
	font-size: 2.5em;
}
.list-group{
	font-size: 1.25em;
}
#profile{
	border-radius: 100%;
	height: 20em;
	width: 16em;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}
.fa-envelope-square,.fa-medium,.fa-linkedin,.fa-github-square{
	color: #000;
}
.fa-envelope-square:hover ,.fa-medium:hover ,.fa-linkedin:hover,.fa-github-square:hover{
	color: #d5d5d5;
}

/*---Media Queries --*/
@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}	
	.contact-text{
		top: 20%;
	}
}
@media (max-width: 768px) {
	.carousel-caption{
		top: 40%;
	}
	.carousel-caption h1{
		font-size: 5rem;
	}
	.carousel-caption h3{
		font-size: 140%;
		font-weight: 400;
		padding-bottom: .2rem;
	} 
  	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}	
}
@media (max-width: 576px) {
	.carousel-caption{
		top: 40%;
	}
	.carousel-caption h1{
		font-size: 5rem;
	}
	.carousel-caption h3{
		font-size: 110%;
	} 
	.social a{
		font-size: 2em;
		padding: .7rem;
	}	
	.row{
		position: absolute;
		top: 15vh;
		transform: translateY(-50%);
		padding: 10vh 15vw;
		max-height: 50%;
	}
}
