.contact-text{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}
.fa-envelope-square,.fa-medium,.fa-linkedin,.fa-github-square{
	color: #000;
}
.fa-envelope-square:hover ,.fa-medium:hover ,.fa-linkedin:hover,.fa-github-square:hover{
	color: #d5d5d5;
}

@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}	
	.contact-text{
		top: 20%;
	}
}
@media (max-width: 768px) {
  	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}	
}
@media (max-width: 576px) {
	.social a{
		font-size: 2em;
		padding: .7rem;
	}	
	#contact-heading{
		padding-top: 40vh;
	}
}
