.card-img-top{
	max-height: 60vh;
}
.card{
	margin: 1em;
}
.card-deck{
	padding: 1em 10em;
}

#work{
	padding: 5em;
	padding-bottom: 0;
}
button{
	background-color: white;
	border: none;
}
#wave_modal .modal-dialog{
	width: 80vw;
	max-width: 100vw;
}

.carousel-control-prev-icon{
 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.card-title a{
	color: white;
}

@media (max-width: 576px) {
	.card-deck{
		padding: 1em 2em;
	}

	#wave_modal .modal-dialog{
		width: auto;
	}
}
