html, body{
	width: 100%;
	color: #222;
	font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    text-align: center;
}	

.mobile{
	max-height: 80vh;
}
.desktop{
	min-height: 80vh;
}

#work{
	padding: 5em;
	padding-bottom: 0;
}

#wave_modal .modal-dialog{
	width: 80vw;
	max-width: 100vw;
}

.carousel-control-prev-icon{
 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 576px) {
	.desktop{
		min-height: 20vh;
    }
    #wave_modal .modal-dialog{
		width: auto;
	}
}
